body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background: url('https://images.squarespace-cdn.com/content/v1/5ad6eb5f620b85ea1e999510/1558455882466-VVX6LFV0DMY3AMQ0GHN1/the_temple_house_events-2-min.jpg')
    no-repeat center center fixed;
  background-size: cover;
}

.invitation {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.559);
  color: #444;
  text-align: center;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

header h1,
.details h2 {
  color: #ff0080;
}

.countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 1.5em;
}

.time {
  background: #ff00a6ab;
  padding: 10px 20px;
  border-radius: 10px;
}

.time span {
  display: block;
  font-size: 0.5em;
}

.map-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff00bb;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.map-button:hover {
  background-color: #8f0053;
}
